ncjishaku {{ package.version }}

https://pypi.org/project/ncjishaku/{{ package.version }}/
{{ env('GITHUB_SERVER_URL') }}/{{ env('GITHUB_REPOSITORY') }}/tree/{{ env('tag_name') }}

https://ncjishaku.readthedocs.io/en/latest/whatsnew.html#version-{{ package.version.replace('.', '-') }}

Built by {{ env('GITHUB_SERVER_URL') }}/{{ env('GITHUB_REPOSITORY') }}/actions/runs/{{ env('GITHUB_RUN_ID') }} (triggered by {{ env('GITHUB_ACTOR') }})

[New commits since {{ last_version }}]({{ env('GITHUB_SERVER_URL') }}/{{ env('GITHUB_REPOSITORY') }}/compare/{{ last_version }}...{{ commit_hash }})

It is advised that you install ncjishaku directly through the pip package manager.

Install the latest version of ncjishaku:
```bash
pip install -U ncjishaku
```

Install specifically this version of ncjishaku (not recommended):
```bash
pip install -U ncjishaku=={{ package.version }}
```

Artifacts are included with this release for debugging convenience.

<details>
<summary>Artifact hashes</summary>
{% for file in files %}
### {{file.name}}

MD5: `{{file.md5}}`

SHA1: `{{file.sha1}}`

SHA256: `{{file.sha256}}`

{% endfor %}

</details>
